{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
{% comment %} ユーザーを認証している場合はログイン後のページを表示 {% endcomment %}
<h1>Djangoで作るログイン機能</h1>
{% if user.is_authenticated %}
    <p>{{ user }} でログインしています</p>
    <a href="{% url 'logout' %}">
        {% bootstrap_button button_type="submit" button_class="btn-danger" content="ログアウト" size="md" %}
    </a>
{% comment %} 認証していない場合は、ログイン用のフォームを表示 {% endcomment %}
{% else %}
   <section>
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <p>{% bootstrap_button button_type="submit" content="ログイン" size="md" %}</p>
      </form>
      <p><a href="{% url 'accounts:signup' %}">{% bootstrap_button button_type="submit" content="新規登録" size="md" %}</a></p>
   </section>
{% endif %}
{% endblock %}