{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
<h1 class="mt-5">投稿の{{object|yesno:'編集,新規作成'}}</h1> {# 新規と編集で表示を変更 #}

<form action="" method='post'>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content=object|yesno:'更新,作成' size="md" %}
</form>
<div class="mt-3">
    <a href="{% url 'bbs:index'%}">{% bootstrap_button button_type="submit" button_class="btn-secondary" content="一覧ページへ戻る" size="md" %}</a>
</div>
{% endblock  %}