{% extends "base.html" %}
{% load django_bootstrap5 %}
{% comment %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BBS Project</title>
</head>

<body>
  <h1>CRUDアプリを作ってみよう</h1>
  {% for article in object_list %}
     <div class="container">
        <p>{{ article.id }}：{{ article.author}}：{{ article.created_at }}</p>
        <p><a href="{% url 'bbs:detail' article.id %}">{{ article.content }}</a></p>
     </div>
  {% endfor %}
</body>
</html>
{% endcomment %}

{% block content %}
  <h1 class="mt-5">CRUDアプリを作ってみよう</h1>
  {% for article in object_list %}
    <div class="card bg-light shadow-sm mt-3">
      <div class="card-body">
        <p>{{ article.id }}：{{ article.author}}：{{ article.created_at }}</p>
        <p><a href="{% url 'bbs:detail' article.id %}">{{ article.content }}</a></p>
      </div>
    </div>
{% endfor %}
    {% comment %} ログインしている場合 {% endcomment %}
    {% if user.is_authenticated %}
    <div class="mt-3">
        <a href="{% url 'bbs:create' %}">{% bootstrap_button button_type="submit" content="新規投稿" size="md" %}</a>
    </div>
    {% endif %}
{% endblock %}